# AI Lab 9
### Name: Aun Muhammad
### Roll no: SU92-BSDSM-F23-023

# First we have to import pandas

In [63]:
import pandas as pd

# Load the data set

In [64]:
df = pd.read_csv(r"C:\Users\Aun Awan\Desktop\EXCEL BIGNNER TO ADVANCE\diamonds.csv")

In [65]:
df

       Column1  carat        cut color  ...     y     z  Unnamed: 11  Unnamed: 12
0            1   0.23      Ideal     E  ...  3.98  2.43          NaN    57.457184
1            2   0.21    Premium     E  ...  3.84  2.31          NaN          NaN
2            3   0.23       Good     E  ...  4.07  2.31          NaN          NaN
3            4   0.29    Premium     I  ...  4.23  2.63          NaN          NaN
4            5   0.31       Good     J  ...  4.35  2.75          NaN          NaN
...        ...    ...        ...   ...  ...   ...   ...          ...          ...
53935    53936   0.72      Ideal     D  ...  5.76  3.50          NaN          NaN
53936    53937   0.72       Good     D  ...  5.75  3.61          NaN          NaN
53937    53938   0.70  Very Good     D  ...  5.68  3.56          NaN          NaN
53938    53939   0.86    Premium     H  ...  6.12  3.74          NaN          NaN
53939    53940   0.75      Ideal     D  ...  5.87  3.64          NaN          NaN

[53940 rows x 13 columns]

# First we have to remove the unnammed colunm because it is additional

In [66]:
df1 = df.drop(columns = ["Column1","Unnamed: 11","Unnamed: 12"],axis = 0) # This is not permanently delted from the data set.
                                 # IF we use inplace = True then it will permanently delted the column.
                                # Basically we make a copy of data set

In [67]:
df1

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

# We see the first 10 rows of data as:

In [68]:
df1.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

# We see the last 10 rows of data as:

In [69]:
df1.tail(10)

       carat        cut color clarity  depth  table  price     x     y     z
53930   0.71    Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71    Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53934   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

# Now we see the names of column in data set that exist in:

In [70]:
df1.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

# Now we see the starting, ending and step index of row in data set that exist in:

In [71]:
df1.index

RangeIndex(start=0, stop=53940, step=1)

# Now we will see how many columns and rows are in data set

In [72]:
print(f"The total number of the rows in data set are: {df1.shape[0]} and columns are: {df1.shape[1]} ")
df1.shape

The total number of the rows in data set are: 53940 and columns are: 10

(53940, 10)

# Now we will take the quick overview of data set and helpful to understanding the data structure

In [73]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

# Now we see the statistical summary of numerical columns in data set

In [74]:
df1.describe()

              carat         depth  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean       0.797940     61.749405  ...      5.734526      3.538734
std        0.474011      1.432621  ...      1.142135      0.705699
min        0.200000     43.000000  ...      0.000000      0.000000
25%        0.400000     61.000000  ...      4.720000      2.910000
50%        0.700000     61.800000  ...      5.710000      3.530000
75%        1.040000     62.500000  ...      6.540000      4.040000
max        5.010000     79.000000  ...     58.900000     31.800000

[8 rows x 7 columns]

# Now we will check if any null value exist

In [75]:
df1.count()

carat      53940
cut        53940
color      53940
clarity    53940
depth      53940
table      53940
price      53940
x          53940
y          53940
z          53940
dtype: int64

# Before we check now we will take a quick look by adding the all null values in data set if exist 
# other wise it gives zero

In [76]:
df1.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

# Now we see the data types of all columns in the data set

In [77]:
df1.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

# Now we will access the all data set columns names through for loop

In [78]:
for i in df1:
    print(i)

carat
cut
color
clarity
depth
table
price
x
y
z

In [79]:
df1.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

# Now we will see the unique values in specific column

In [80]:
df1['price'].unique()

array([ 326,  327,  334, ..., 2753, 2755, 2756], dtype=int64)

# Now we will see how many unique values are exist in all columns

In [81]:
df1.nunique()

carat        273
cut            5
color          7
clarity        8
depth        184
table        127
price      11602
x            554
y            552
z            375
dtype: int64

# Now we will see how many duplicated rowa are in data set

In [82]:
df1.duplicated().sum()

146

# Now we have to drop these row

In [83]:
df1.drop_duplicates()

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53794 rows x 10 columns]

# Data Preprocessing

In [86]:
df1.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [87]:
df1.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [90]:
from sklearn.preprocessing import OrdinalEncoder

# Encoding

In [91]:
ordinal_encoder = OrdinalEncoder(categories=[
    ['Fair', 'Good', 'Very Good', 'Ideal', 'Premium'],  # cut
    ['D', 'E', 'F', 'G', 'H', 'I', 'J'],               # color
    ['I1', 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']  # clarity
])
df1[['cut', 'color', 'clarity']] = ordinal_encoder.fit_transform(df1[['cut', 'color', 'clarity']])

In [92]:
df1.drop(columns=["cut","color"])

       carat  clarity  depth  table  price     x     y     z
0       0.23      1.0   61.5   55.0    326  3.95  3.98  2.43
1       0.21      2.0   59.8   61.0    326  3.89  3.84  2.31
2       0.23      4.0   56.9   65.0    327  4.05  4.07  2.31
3       0.29      3.0   62.4   58.0    334  4.20  4.23  2.63
4       0.31      1.0   63.3   58.0    335  4.34  4.35  2.75
...      ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72      2.0   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72      2.0   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70      2.0   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86      1.0   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      1.0   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 8 columns]

# Now we convert the remaining values of column to same scale for easy calulation and accurate solution

In [93]:
def MinMaxNormalize(columns):
	for column in columns:
		datatypes = df1[column].dtypes
		if datatypes != "object":
			max_value = df1[column].max()
			min_value = df1[column].min()
			if max_value != min_value:
				df1[column] = (df1[column] - min_value) / (max_value - min_value)
        
columns = df1.columns
print(columns)
MinMaxNormalize(columns)

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [94]:
df1

          carat   cut     color  ...         x         y         z
0      0.006237  0.75  0.166667  ...  0.367784  0.067572  0.076415
1      0.002079  1.00  0.166667  ...  0.362197  0.065195  0.072642
2      0.006237  0.25  0.166667  ...  0.377095  0.069100  0.072642
3      0.018711  1.00  0.833333  ...  0.391061  0.071817  0.082704
4      0.022869  0.25  1.000000  ...  0.404097  0.073854  0.086478
...         ...   ...       ...  ...       ...       ...       ...
53935  0.108108  0.75  0.000000  ...  0.535382  0.097793  0.110063
53936  0.108108  0.25  0.000000  ...  0.529795  0.097623  0.113522
53937  0.103950  0.50  0.000000  ...  0.527002  0.096435  0.111950
53938  0.137214  1.00  0.666667  ...  0.572626  0.103905  0.117610
53939  0.114345  0.75  0.000000  ...  0.542831  0.099660  0.114465

[53940 rows x 10 columns]

# Column without target variable

In [95]:
X = df1.drop(columns=["price","cut","color","clarity"])
print(X)

          carat     depth     table         x         y         z
0      0.006237  0.513889  0.230769  0.367784  0.067572  0.076415
1      0.002079  0.466667  0.346154  0.362197  0.065195  0.072642
2      0.006237  0.386111  0.423077  0.377095  0.069100  0.072642
3      0.018711  0.538889  0.288462  0.391061  0.071817  0.082704
4      0.022869  0.563889  0.288462  0.404097  0.073854  0.086478
...         ...       ...       ...       ...       ...       ...
53935  0.108108  0.494444  0.269231  0.535382  0.097793  0.110063
53936  0.108108  0.558333  0.230769  0.529795  0.097623  0.113522
53937  0.103950  0.550000  0.326923  0.527002  0.096435  0.111950
53938  0.137214  0.500000  0.288462  0.572626  0.103905  0.117610
53939  0.114345  0.533333  0.230769  0.542831  0.099660  0.114465

[53940 rows x 6 columns]

# Target Variable

In [97]:
Y = df1["price"]
print(Y)

0        0.000000
1        0.000000
2        0.000054
3        0.000433
4        0.000487
           ...
53935    0.131427
53936    0.131427
53937    0.131427
53938    0.131427
53939    0.131427
Name: price, Length: 53940, dtype: float64

# Training and testing of data

In [98]:
from sklearn.model_selection import train_test_split

In [99]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

# Train the model by SVM Classfier

In [100]:
from sklearn.svm import SVR

In [101]:
model = SVR(kernel='linear')
model.fit(X_train, Y_train)

SVR(kernel='linear')

# Evaluate the model

In [106]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [113]:
y_predict = model.predict(X_test)
mse = mean_squared_error(Y_test,y_predict )
print(f"Mean Squared Error: {mse}")


mae = mean_absolute_error(Y_test, y_predict)
print(f"Mean absolute error: {mae}")


r2_s = r2_score(Y_test, y_predict)
print(f"r2 score: {r2_s*100}")

Mean Squared Error: 0.007006484442735811
Mean absolute error: 0.05695636428510296
r2 score: 84.92030843296915